{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Магазин цветов "Plantify Garden"</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
<header class="header">
    <div class="container-lg">
        <div class="header-content">
            <nav><!-- начало залупы с кнопками навигации по сайту -->
                <ul class="nav">
                    <li><a href="{% url 'homepage' %}">Главная</a></li>
                    <li><a href="{% url 'catalog' %}">Каталог</a></li>
                    <li><a href="{% url 'about' %}">Контакты</a></li>
                    <li><a href="{% url 'favorite' %}">Избранное</a></li>
                    <!-- начало лого (для даунов) -->
                </ul><!-- конец залупы с кнопками навигации по сайту -->
            </nav>
            <div class="logo"><a href="{% url 'homepage' %}"><img src="{% static 'img/logo.svg' %}" alt=""></a></div>
            <!-- конец лого (для даунов) -->
            <ul class="nav-icons"><!-- иконка юзера (для даунов) -->
                <li><a href="{% url 'profile' %}"><img src="{% static 'img/user.svg' %}" alt=""></a></li><!-- иконка корзины (для даунов) -->
                <li>
                    <form class="d-flex form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
                  <input
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="Поиск товара"
                    aria-label="Поиск товара"
                    name="srch"
                  />
                </form>
                </li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">{{user.username}} (Выйти)</a></li>
                {% endif %}
                <li><a href="{% url 'cart_view' %}"><img src="{% static 'img/cart.svg' %}" alt=""></a></li>
            </ul>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'js/main.min.js' %}"></script>
</html>
