{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container">
        <p class="" style="color: black; line-height: 30px">
            ПОЛИТИКА В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ <br/>

            Настоящая политика ИП Дмитрий Олещенко в отношении обработки персональных данных (далее – Политика)
            определяет общие принципы и порядок обработки персональных данных Пользователей сайта https://semicvetic.com
            и меры по обеспечению их безопасности.<br/>

            1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ<br/>
            Стороны используют следующие термины в указанном ниже значении:<br/>

            1. Сайт – совокупность Интернет-страниц, расположенных в сети Интернет по адресу https://semicvetic.com, на
            которых представлены товары, предлагаемые оператором для оформления заказов, а также расположена иная
            информация об операторе и его деятельности.<br/>

            2. Пользователь – лицо, использующее Сайт посредством сети Интернет.<br/>

            3. Субъект персональных данных – Пользователь (или иное физическое лицо), к которому относятся Персональные
            данные.<br/>

            4. Персональные данные – любая информация, относящаяся к прямо или косвенно определённому или определяемому
            физическому лицу.<br/>

            5. Оператор – ИП Скосарь Антон Валерьевич, самостоятельно или совместно с другими лицами организующий и
            (или) осуществляющий обработку персональных данных, а также определяющий цели обработки персональных данных,
            состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными
            данными.<br/>

            6. Законодательство – действующее законодательство Российской Федерации в области персональных данных.<br/>

            7. Обработка персональных данных - любое действие (операция) или совокупность действий (операций),
            совершаемых с использованием средств автоматизации или без использования таких средств с персональными
            данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение),
            извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
            удаление, уничтожение персональных данных.<br/>

            7.1. Автоматизированная обработка персональных данных - обработка персональных данных с помощью средств
            вычислительной техники;<br/>

            7.2. Распространение персональных данных - действия, направленные на раскрытие персональных данных
            неопределенному кругу лиц;<br/>

            7.3. Предоставление персональных данных - действия, направленные на раскрытие персональных данных
            определенному лицу или определенному кругу лиц;<br/>

            7.4. Блокирование персональных данных - временное прекращение обработки персональных данных (за исключением
            случаев, если обработка необходима для уточнения персональных данных);<br/>

            7.5. Уничтожение персональных данных - действия, в результате которых становится невозможным восстановить
            содержание персональных данных в информационной системе персональных данных и (или) в результате которых
            уничтожаются материальные носители персональных данных;<br/>

            7.6. Обезличивание персональных данных - действия, в результате которых становится невозможным без
            использования дополнительной информации определить принадлежность персональных данных конкретному субъекту
            персональных данных;<br/>

            7.7. Информационная система персональных данных - совокупность содержащихся в базах данных персональных
            данных и обеспечивающих их обработку информационных технологий и технических средств;<br/>

            7.8. Трансграничная передача персональных данных - передача персональных данных на территорию иностранного
            государства органу власти иностранного государства, иностранному физическому лицу или иностранному
            юридическому лицу.<br/>

            8. Иные термины, используемые в Политике, трактуются в соответствии с Законодательством РФ.<br/>

            2. ОБЩИЕ ПОЛОЖЕНИЯ<br/>
            В указанном разделе описаны назначение Политики, а также перечислены основные права и обязанности оператора
            и Субъекта персональных данных.<br/>

            2.1. Настоящая Политика в отношении обработки персональных данных разработана в соответствии с положениями
            Законодательства и определяет порядок работы с персональными данными пользователей и (или) передаваемых
            пользователями и требования к обеспечению их безопасности.<br/>

            2.2. Мероприятия по обеспечению безопасности персональных данных являются составной частью деятельности
            оператора.<br/>

            2.3. ОБЯЗАННОСТИ ОПЕРАТОРА.<br/>

            - Оператор предоставляет сведения, указанные в ч. 7 ст. 14 Закона о персональных данных, субъекту
            персональных данных или его представителю в той форме, в которой направлено соответствующее обращение либо
            запрос, если иное не указано в обращении или запросе.<br/>

            - Если в обращении (запросе) субъекта персональных данных не отражены в соответствии с требованиями Закона о
            персональных данных все необходимые сведения или субъект не обладает правами доступа к запрашиваемой
            информации, то ему направляется мотивированный отказ.<br/>

            - В случаях, если персональные данные получены не от субъекта персональных данных или его законного
            представителя, оператор до начала обработки таких персональных данных уведомляет субъекта об обработке
            персональных данных.<br/>

            Уведомление субъекта об обработке персональных данных, полученных не от него самого, не осуществляется в
            следующих случаях:<br/>

            1) субъект персональных данных уведомлен об осуществлении обработки его персональных данных соответствующим
            оператором;<br/>

            2) персональные данные получены оператором на основании федерального закона или в связи с исполнением
            договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект
            персональных данных;<br/>

            3) обработка ПДн, разрешенных субъектом для распространения, осуществляется с соблюдением установленных
            таким субъектов запретов и условий.<br/>

            4) оператор осуществляет обработку персональных данных для статистических или иных исследовательских целей,
            если при этом не нарушаются права и законные интересы субъекта персональных данных;<br/>

            5) предоставление субъекту ПДн сведений, содержащихся в уведомлении об обработке ПДн, нарушает права и
            законные интересы третьих лиц.<br/>

            - Оператор при обработке персональных данных обязан принимать необходимые правовые, организационные и
            технические меры или обеспечивать их принятие для защиты персональных данных от неправомерного или
            случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения
            персональных данных, а также от иных неправомерных действий в отношении персональных данных.<br/>

            - В случае достижения цели обработки персональных данных оператор обязан прекратить обработку персональных
            данных или обеспечить ее прекращение (если обработка персональных данных осуществляется другим лицом,
            действующим по поручению оператора) и уничтожить персональные данные или обеспечить их уничтожение (если
            обработка персональных данных осуществляется другим лицом, действующим по поручению оператора) в срок, не
            превышающий тридцати дней с даты достижения цели обработки персональных данных, если иное не предусмотрено
            договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных
            данных, иным соглашением между оператором и субъектом персональных данных либо если оператор не вправе
            осуществлять обработку персональных данных без согласия субъекта персональных данных на основаниях,
            предусмотренных настоящим Федеральным законом или другими федеральными законами.<br/>

            2.4. ПРАВА СУБЪЕКТОВ ПЕРСОНАЛЬНЫХ ДАННЫХ.<br/>

            - Субъект персональных данных имеет право на получение сведений, указанных в в ч. 7 ст. 14 Закона о
            персональных данных.<br/>

            - пользователь вправе требовать от оператора уточнения его персональных данных, их блокирования или
            уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно
            полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные
            законом меры по защите своих прав.<br/>

            - Если пользователь считает, что оператор осуществляет обработку его персональных данных с нарушением
            требований Законодательства или иным образом нарушает его права и свободы, пользователь вправе обжаловать
            действия или бездействие оператора в уполномоченном органе по защите прав субъектов персональных данных или
            в судебном порядке.<br/>

            - пользователь имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и
            (или) компенсацию морального вреда в судебном порядке.<br/>

            3. ПРАВОВЫЕ ОСНОВАНИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ.
            Правовым основанием обработки персональных данных является совокупность нормативных правовых актов, во
            исполнение которых и в соответствии с которыми оператор осуществляет обработку персональных данных, в том
            числе:<br/>

            - Конституция Российской Федерации<br/>

            - Гражданский кодекс Российской Федерации<br/>

            - Федеральные законы и принятые на их основе нормативные правовые акты, регулирующие отношения, связанные с
            деятельностью оператора<br/>

            - устав оператора<br/>

            - договоры, заключаемые между оператором и субъектами персональных данных<br/>

            - согласие субъектов персональных данных на обработку их персональных данных<br/>

            - осуществление прав и законных интересов оператора<br/>

            - участие в судопроизводстве.<br/>

            4. ПРИНЦИПЫ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ.<br/>
            4.1. Обработка персональных данных осуществляется оператором в соответствии со следующими принципами:<br/>

            4.1.1. Законность и справедливая основа обработки персональных данных. оператор принимает все необходимые
            меры по выполнению требований Законодательства, не обрабатывает персональные данные в случаях, когда это не
            допускается Законодательством, не использует персональные данные во вред пользователю.<br/>

            4.1.2. Осуществляется обработка только тех персональных данных, которые отвечают заранее объявленным целям
            их обработки и не допускается обработки персональных данных, не совместимых с целями, а также избыточных по
            отношению к заявленным целям их обработки.<br/>

            4.1.3. Обеспечение точности, достаточности и актуальности персональных данных по отношению к целям обработки
            персональных данных. оператор принимает все разумные меры по поддержке актуальности обрабатываемых
            Персональных данных, включая, но не ограничиваясь реализацией права каждого субъекта получать для
            ознакомления свои персональные данные и требовать от оператора их уточнения, блокирования или уничтожения в
            случае, если Персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не
            являются необходимыми для заявленных выше целей обработки.<br/>

            4.1.4. Не допускается объединение созданных для несовместимых между собой целей баз данных информационных
            систем персональных данных.<br/>

            4.2. Персональные данные хранятся не дольше, чем этого требуют цели их обработки, если срок хранения
            Персональных данных не установлен федеральным законодательством, договором, стороной которого или
            выгодоприобретателем по которому является субъект.<br/>

            4.3. Оператор прекращает обработку персональных данных в следующих случаях:<br/>

            - выявлен факт их неправомерной обработки;<br/>

            - достигнута цель их обработки;<br/>

            - истек срок действия или отозвано согласие субъекта персональных данных на обработку указанных данных,
            когда по Закону о персональных данных обработка этих данных допускается только с согласия;<br/>

            - ликвидации оператора.<br/>

            4.4. При достижении целей обработки персональных данных, а также в случае отзыва субъектом персональных
            данных согласия на их обработку оператор прекращает обработку этих данных, если:<br/>

            - иное не предусмотрено договором, стороной которого, выгодоприобретателем или поручителем, по которому
            является субъект персональных данных;<br/>

            - оператор не вправе осуществлять обработку без согласия субъекта персональных данных на основаниях,
            предусмотренных Законом о персональных данных или иными федеральными законами;<br/>

            - иное не предусмотрено другим соглашением между оператором и субъектом.<br/>

            4.5. Уничтожение с носителей и носителей, содержащих персональные данные субъектов, должно соответствовать
            следующим правилам:<br/>

            - быть максимально надежным и конфиденциальным, исключая возможность последующего восстановления;<br/>

            - оформляться соответствующим актом;<br/>

            - должно проводиться комиссией по уничтожению персональных данных;<br/>

            - уничтожение должно касаться только тех персональных данных, которые подлежат уничтожению в связи с
            достижением цели обработки указанных персональных данных либо утраты необходимости в их достижении, не
            допуская случайного или преднамеренного уничтожения актуальных носителей.<br/>

            5. УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ<br/>
            5.1. Оператор совершает следующие действия с персональными данными:<br/>

            - сбор;<br/>

            - запись;<br/>

            - систематизация;<br/>

            - накопление;<br/>

            - хранение;<br/>

            - уточнение (обновление, изменение);<br/>

            - извлечение;<br/>

            - использование;<br/>

            - передача (распространение, предоставление, доступ);<br/>

            - блокирование;<br/>

            - удаление;<br/>

            - уничтожение.<br/>

            5.2. Оператор вправе поручить обработку персональных данных другому лицу с согласия субъекта персональных
            данных, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора, в
            том числе государственного или муниципального контракта.<br/>

            Лицо, осуществляющее обработку персональных данных по поручению оператора, обязано соблюдать принципы и
            правила обработки персональных данных, предусмотренные Законодательством, соблюдать конфиденциальность
            персональных данных, принимать необходимые меры, направленные на обеспечение выполнения обязанностей,
            предусмотренных Законодательством.<br/>

            5.3. Обработка персональных данных оператором допускается в следующих случаях:<br/>

            - При наличии согласия пользователя на обработку персональных данных. Пользователь дает согласие на
            обработку персональных данных путем оформления заказа и/или регистрации на сайте оператора или любым другим
            способом, позволяющим подтвердить факт его получения. Пользователь, предоставивший свои персональные данные
            в процессе использования сайта оператора, дает согласие на их обработку.<br/>

            - При передаче пользователем персональных данных субъекта персональных данных пользователем при оформлении
            заказа на сайте.<br/>

            5.4. Оператор не раскрывает третьим лицам и не распространяет персональные данные без согласия пользователя,
            если иное не предусмотрено Законодательством.<br/>

            5.5. Оператор не обрабатывает персональные данные, относящиеся к специальным категориям и касающиеся расовой
            и национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния
            здоровья, интимной жизни Субъекта, о членстве Субъекта в общественных объединениях, за исключением случаев,
            прямо предусмотренных Законодательством.<br/>

            5.6. Оператор не осуществляет трансграничную передачу персональных данных пользователей.<br/>

            5.7. Оператор осуществляет автоматизированную и неавтоматизированную обработки Персональных данных.<br/>

            6. КОНФИДЕНЦИАЛЬНОСТЬ ПЕРСОНАЛЬНЫХ ДАННЫХ.<br/>
            6.1. Оператор обеспечивает конфиденциальность обрабатываемых им персональных данных в порядке,
            предусмотренном Законодательством.<br/>

            Обеспечение конфиденциальности не требуется в отношении:<br/>

            6.1.1. Персональных данных после их обезличивания.<br/>

            6.1.2. Персональных данных, доступ неограниченного круга лиц к которым предоставлен пользователем либо по
            его просьбе (далее – Персональные данные, сделанные общедоступными пользователем).<br/>

            6.1.3. Персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с
            Законодательством.<br/>

            6.1.4. Не является нарушением конфиденциальности персональных данных предоставление оператором информации
            транспортным (курьерским) компаниям и иным третьим лицам, действующим на основании договора с оператором для
            исполнения обязательств перед пользователем.<br/>

            7. СБОР И ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ И ИНЫХ ДАННЫХ.<br/>
            7.1. Оператор собирает и хранит только те персональные данные, которые необходимы для целей обработки
            персональных данных. При этом сбор персональных данных может осуществляться как посредством сайта, так и в
            офисе оператора.<br/>

            7.2. Оператор обрабатывает персональные данные в следующих целях:<br/>

            7.2.1. осуществления деятельности, предусмотренной̆ уставом оператора, действующим законодательством
            РФ;<br/>

            7.2.2. выполнения обязательств оператора перед пользователем по продаже товаров, в том числе для
            обработки<br/>
            платежей, доставки товаров.<br/>

            7.2.3. для связи с пользователями в случае необходимости, в том числе для направления уведомлений,
            информации и запросов, связанных с оказанием услуг, а также обработки заявлений, запросов и заявок
            пользователей;<br/>

            7.2.4. для улучшения качества услуг, оказываемых оператором, включая организацию и проведение программ
            лояльности, маркетинговых и/или рекламных акций, исследований, опросов, направление электронных чеков,
            продвижение услуг и/или товаров и/или партнеров оператора на рынке путем осуществления прямых контактов с
            клиентами оператора с помощью различных средств связи, включая, но не ограничиваясь: по телефону с
            использованием специальных программ обмена сообщений, смс – рассылка сообщений, по электронной почте,
            почтовой рассылке и иными не запрещенными способами; предоставление субъектам персональных данных сервисов и
            услуг оператора.<br/>

            7.3. Категории субъектов персональных данных.<br/>

            - клиенты и контрагенты оператора (физические лица);<br/>

            - представители/работники клиентов и контрагентов оператора (юридических лиц).<br/>

            7.4. В целях, указанных в п. 7.2. оператор обрабатывает следующие персональные данные:<br/>

            - фамилия, имя и отчество;<br/>

            - Адрес электронной почты;<br/>

            - Номер телефона;<br/>

            - Наименования аккаунтов в различных мессенджерах<br/>

            - Банковские реквизиты;<br/>

            - Техническая информация: IP-адрес, тип используемого мобильного устройства, операционная система устройства
            и тип браузера, уникальный идентификатор устройства, адрес ссылающихся веб-сайтов, путь, по которому
            пользователь проходит сайт оператора, и другая.<br/>

            - Адрес доставки товаров.<br/>

            7.5. Оператор имеет право передавать персональные данные пользователя без согласия пользователя следующим
            лицам:<br/>

            - Государственным органам, в том числе органам дознания и следствия, и органам местного самоуправления по их
            мотивированному запросу.<br/>

            - Партнёрам оператора c целью выполнения договорных обязательств перед пользователем.<br/>

            - В иных случаях, прямо предусмотренных действующим законодательством РФ.<br/>

            7.6. Оператор имеет право передавать персональные данные третьим лицам, не указанным в п. 4.6 настоящей
            Политики, в следующих случаях:<br/>

            - Пользователь выразил свое согласие на такие действия.<br/>

            - Передача необходима в рамках использования пользователем Сайта или продажи товаров пользователю (в том
            числе в целях доставки товаров);<br/>

            - Передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к
            приобретателю переходят все обязательства по соблюдению условий настоящей Политики.<br/>

            7.7. Оператор передает обработанную информацию транспортным (курьерским) компаниям на основании согласия
            пользователя (ст. 9 ФЗ «О персональных данных»).<br/>

            8. СВЕДЕНИЯ О РЕАЛИЗУЕМЫХ ТРЕБОВАНИЯХ К ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ.<br/>
            8.1. Назначено лицо, ответственное за организацию обработки персональных данных;<br/>

            8.2. Разработаны и изданы локальные нормативные акты, определяющие политику оператора в отношении обработки
            персональных данных, обеспечения безопасности персональных данных при их обработке в информационных системах
            персональных данных (в том числе процедуры, направленные на предотвращение и выявление нарушений
            законодательства Российской Федерации, устранение последствий таких нарушений);<br/>

            8.3. Принимаются организационные и технические меры по обеспечению безопасности персональных данных;<br/>

            8.4. Осуществляется регулярный контроль соответствия обработки персональных данных законодательству РФ;<br/>

            8.5. Проводится оценка вреда, который может быть причинен субъектам персональных данных в случае нарушения
            Федерального закона Российской Федерации от 27 июля 2006 г. №152-ФЗ «О персональных данных» (в рамках
            моделирования угроз безопасности персональных данных);<br/>

            8.6. проводится ознакомление и обучение работников правилам работы с персональными данными;<br/>

            8.7. Оператором реализуются следующие требования к защите персональных данных:<br/>

            - Организован режим обеспечения безопасности помещений, в которых размещены информационные системы,
            препятствующий возможности неконтролируемого проникновения или пребывания в этих помещениях лиц, не имеющих
            права доступа в эти помещения;<br/>

            - Реализовано обеспечение сохранности носителей персональных данных;<br/>

            - Оператором утвержден документ, определяющий перечень лиц, доступ которых к персональным данным,
            обрабатываемым в информационной системе, необходим для выполнения ими служебных (трудовых)
            обязанностей;<br/>

            - Доступ к Информационным системам, содержащим Персональные данные, обеспечивается системой паролей. Пароли
            устанавливаются уполномоченными сотрудниками оператора и индивидуально сообщаются работникам оператора,
            имеющим доступ к Персональным данным/Данным.<br/>

            - Персональные данные при их обработке, осуществляемой без использования средств автоматизации, обособляются
            от иной информации, в частности путем фиксации их на отдельных материальных носителях персональных данных, в
            специальных разделах или на полях форм (бланков).<br/>

            - При фиксации персональных данных на материальных носителях не допускается фиксация на одном материальном
            носителе персональных данных, цели обработки которых заведомо не совместимы.<br/>

            Для обработки различных категорий персональных данных, осуществляемой без использования средств
            автоматизации, для каждой категории персональных данных используется отдельный материальный носитель.<br/>

            9. СОГЛАСИЕ ПОЛЬЗОВАТЕЛЯ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ.<br/>
            9.1. Пользователь принимает решение о предоставлении своих персональных данных оператору и даёт согласие на
            их обработку свободно, своей волей и в своём интересе. Согласие на обработку персональных данных должно быть
            конкретным, информированным и сознательным и предоставляется пользователем в момент его Регистрации на Сайте
            оператора, а также в любой позволяющей подтвердить факт его получения форме, если иное не установлено
            Законодательством.<br/>

            9.2. Персональные данные лиц, вступивших в договорные обязательства с оператором, содержащиеся в единых
            государственных реестрах юридических лиц и индивидуальных предпринимателей, являются открытыми и
            общедоступными, за исключением сведений о номере, дате выдачи и органе, выдавшем документ, удостоверяющий
            личность физического лица. Охраны их конфиденциальности и согласия пользователей на обработку не
            требуется.<br/>

            9.3. В случае поступления запросов из организаций, не обладающих соответствующими полномочиями, Оператор
            обязан получить предварительное согласие пользователя на предоставление его Персональных данных и
            предупредить лиц, получающих Персональные данные, о том, что эти данные могут быть использованы лишь в
            целях, для которых они сообщены, а также требовать от этих лиц подтверждения того, что это правило будет
            (было) соблюдено.<br/>

            10. ИНЫЕ ПОЛОЖЕНИЯ.<br/>
            10.1. К настоящей Политике и отношениям между пользователем и оператором, возникающим в связи с применением
            Политики, подлежит к применению право Российской Федерации.<br/>

            10.2. Все возможные споры подлежат разрешению в соответствии с Законодательством по месту регистрации
            оператора.<br/>

            Перед обращением в суд пользователь должен соблюсти обязательный досудебный порядок и направить оператору
            соответствующую претензию в письменном виде. Срок ответа на претензию составляет 30 (тридцать) рабочих дней.<br/>

            10.3. Если по тем или иным причинам одно или несколько положений Политики будут признаны недействительными
            или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных
            положений Политики конфиденциальности.<br/>

            10.4. Оператор имеет право в любой момент изменять настоящую Политику (полностью или в части) в
            одностороннем порядке без предварительного согласования с пользователем. Все изменения вступают в силу на
            следующий день после размещения на Сайте.<br/>

            10.5. пользователь обязуется самостоятельно следить за изменениями Политики конфиденциальности путем
            ознакомления с актуальной редакцией.<br/>

            Отправляя сведения через электронную форму, вы даете согласие на обработку, сбор, хранение и передачу
            третьим лицам представленной Вами информации на условиях Политики конфиденциальности.<br/>
        </p>
    </div>
</main>
{% endblock %}