{% extends 'base.html' %}

{% block content %}
<section class="cart">
    <div class="container-cart">
        <div class="cart__title mb-4">Корзина</div>
        <div class="cart__items">
            {% for cart_item in cart.cartitem_set.all %}
                <div class="cart__card row">
                    <div class="col-md-4 cart__img-item">
                        <img src="{{ cart_item.product.picture.url }}" alt="{{ cart_item.product.name }} Image" class="img-fluid">
                    </div>
                    <div class="col-md-4 cart__checkout-desc">
                        <p>{{ cart_item.product.name }}</p>
                        <div class="cart-item-quantity">
                            <a href="{% url 'decrease_quantity' cart_item.product.id %}">-</a>
                            <span>{{ cart_item.quantity }}</span>
                            <a href="{% url 'increase_quantity' cart_item.product.id %}">+</a>
                        </div>
                        <p class="trashbin mt-5"><a href="{% url 'remove_from_cart' cart_item.id %}" class="delete-link">Удалить</a></p>
                    </div>
                    <div class="col-md-4 price">
                        <p>{{ cart_item.product.price }} рублей</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="cart__func">
            <div class="cart__total">Всего: {{ cart.total_price }} рублей</div>
            <div class="cart__btn text-center"><a href="">Заказать</a></div>
        </div>
    </div>
</section>
{% endblock %}